{% extends 'base.html' %}
{% block tittle %} Posts page {% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
    <header>{{ user.username }}'s Profile</header>
    <h1>Username: {{ user.username }}</h1>
    <p>Email: {{ user.email }}</p>
    <h2>Posts</h2>
    <ol>
        {% for post in user.posts %}
            <li>{{ post.title }} - {{ post.date_posted }}</li>
        {% endfor %}
    </ol>
    
</body>
</html>
{% endblock %}